@using LocalTestResources.App_LocalResources
@model LocalTestResources.Models.UserDetails

<script src='@Url.Content("~/Scripts/jquery-1.8.2.js")' type='text/javascript'></script>
<script src='@Url.Content("~/Scripts/jquery.validate.js")' type='text/javascript'></script>
<script src='@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")' type='text/javascript'></script>

@{
    ViewBag.Title = "Index";
}

<h2>@(strings.Index)</h2>


<p>@(strings.CurrentDate): @DateTime.Now.ToLongDateString() </p>

<p>@(strings.NameString)</p>

<p>@Model.UserName</p>

<p>@Model.City</p>

@using (Html.BeginForm())
{
    @Html.EditorFor(m => m.UserName)
    @Html.ValidationMessageFor(m => m.UserName)


    <input type="submit" name="Save" value="Save" />
}